#title{
    background-image: url('../images/the-flatiron-building.png');
}



* {
  font-family: Helvetica, Arial, sans-serif;
}


h1 {
  color: SeaGreen;

}


p,
li {
  font-size: 100px;
}


a {
  text-decoration: none;
}
